<!-- profile.ejs -->
<html>
    <head>
        <% include ./partials/header.ejs %>
        <link rel='stylesheet' type="text/css"  href='/css/profile_page.css'>
    </head>
    <body>
        <% include ./partials/navbar.ejs %>
        <h1>Profile</h1>
    </body>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <img src="https://i.pinimg.com/originals/3a/eb/b7/3aebb77dad3f1e946e909bc4f90aef4e.jpg" alt="Simpson" style="width:250px" align="left">
            <div class="container">
                <h2>Simpson</h2>
                <button type="button" class="btn btn-primary">Change Picture</button>

                    <p class="title">Bio</p>

                    <p>Total Likes: </p>
                    <p>Total Comments: </p>
                    <p>Total Shares: </p>
                     
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
            </div>

            <div class = "badge-padding">
                <h3>My Badges</h3>
            
                <img src="https://i2.wp.com/www.streetfoodnews.co.uk/wp-content/uploads/2015/08/veggie-awards.jpg?fit=300%2C300" alt="badge_1" style="width:100px" align="left">
                <img src="https://s.yimg.com/ny/api/res/1.2/otnZKfC.hY6cENzb6bHOFQ--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9ODAw/http://globalfinance.zenfs.com/en_us/Finance/US_AFTP_PRNEWSWIRE_LIVE/SELF_Names_Egglands_Best_Eggs-942f28cf7583ba43b3663dc1ce015374" alt="badge_2" style="width:100px" align="left">
                <img src="https://cdn1.vectorstock.com/i/thumb-large/53/70/winner-colorful-award-badge-vector-14545370.jpg" alt="badge_3" style="width:100px" align="left">
            </div>

</html>