<!-- profile.ejs -->
<html>
    <head>
        <% include ./partials/header.ejs %>
        <link rel='stylesheet' type="text/css" href='/css/profile.css'>
    </head>
    <body>
        <% include ./partials/navbar.ejs %>
        <% include ./partials/upload.ejs %>
        <div class='main'>
            <div class='profile'>
                <img src='/pics/user.png' class='img-fluid'>
                <h2 class='profile-name'><%=first%> <%=last%></h2>
            </div>

            
            <div class='profile-section'>
                <h4>My Recipes</h4>
                <div class='profile-recipe'>
                    <% recipes.forEach((r) => { %>
                        <img class='profile-recipe-image' src="/image/<%=r.image.data%>"/>
                    <% }); %>
                </div>

            </div>
            <div class='profile-section'>
                <div class='saved-recipes'>
                    <h4>Saved Recipes</h4>
                    <% saved.forEach( (r) => { %>
                        <!-- <div class='profile-saved'> -->
                            <img class='profile-recipe-image' src="/image/<%=r.image.data%>"/>
                        <!-- </div> -->
                    <% }); %>
                </div>
            </div>
        </div> 
        <% include ./partials/footer.ejs %>
    </body>
</html>