<!-- The navbar.ejs contains codes for making the navbar for our website and includes the bootstrap file for the navbar.
  It is located in partial. Also included in the navbar is a search bar for finding recipes. -->



<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- navbar.ejs -->
<nav class="navbar navbar-expand-lg navbar-light" style='height: 80px; width: 100%; background-color: #65CCB8'>
        <a class="navbar-brand nav-text" style='font-size: 22px; width: 80px; font-weight: bold; color: white; ' href="/">VegHub</a>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto" style="list-style: none">
            <li class="nav-item">
              <a class="nav-link nav-text nav-single" style='font-weight: bold; color: white; font-size: 18px;' href="recipe">Recipes</a>
            </li>
            <% if (user) { %>
            <li class="nav-item">
              <a class="nav-link nav-text nav-single" style='font-weight: bold; color: white; font-size: 18px;' href="profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-text nav-single" style='font-weight: bold; color: rgb(255, 255, 255); font-size: 18px;' data-toggle="modal" data-target="#exampleModal"
            data-whatever="@mdo">Upload</a>
            </li>
            <% } %>
          </ul>
          
          <span class="navbar-text">
            
              
              <form action='/search' method='POST'>
                <div class='search-recipe'>
                    <input id="search-box" name="query" type="text" size="20" />
                    <button type="submit" id="recipe-button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
              </form> 
            <% if (!user) { %>
              <button onclick='location.href="register"' style='margin-right: 40px;'>Sign in</button>
            <% } else { %>
              <h3 onclick="window.location.href='/profile'" style='cursor: pointer;'><%=user%></h3>
              <a class='nav-link' href='/profile/logout'>Logout</a>
            <% } %> 
            
          </span>
        </div>
      </nav>