<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- navbar.ejs -->
<nav class="navbar navbar-expand-lg navbar-light" style='height: 80px; width: 100%; background-color: #65CCB8'>
        <a class="navbar-brand nav-text" style='font-size: 22px; width: 80px; font-weight: bold; color: white; ' href="/">VegHub</a>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto" style="list-style: none">
            <li class="nav-item">
              <a class="nav-link nav-text nav-single" style='font-weight: bold; color: white; font-size: 18px;' href="recipe">Recipes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-text nav-single" style='font-weight: bold; color: white; font-size: 18px;' href="profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-text nav-single" style='font-weight: bold; color: white; font-size: 18px;' data-toggle="modal" data-target="#exampleModal"
            data-whatever="@mdo">Upload</a>
            </li>
          </ul>
          
          <span class="navbar-text">
            
              <!-- <form class="example" >
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form> -->
              <div class='search-recipe'>
                  <input id="search-box" type="text" size="20" />
                  <!-- <img id='search-box-img' src="" /> -->
                  <button id="recipe-button">Search Food</button>
                  <div id='food-title'></div>
              </div>
            <% if (!user) { %>
              <button onclick='location.href="register"'>Log In</button>
              <button onclick='location.href="register"' style='margin-right: 40px;'>Sign Up</button>
            <% } else { %>
              <h3 href='profile'><%=user%></h3>
              <a class='nav-link' href='/profile/logout'>Logout</a>
            <% } %> 
            
          </span>
        </div>
      </nav>