
<!-- Contains the codes for uploading a persons recipe. Things to upload are images of recipe, ingredients, description, and how to make. -->



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create a Recipe</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action='/upload' enctype="multipart/form-data" method="POST">
                            <div class="form-group">
                                <label for="name-text" class="col-form-label">Name</label>
                                <input type="text" name="name" class="form-control" id="name-text"></input>
                            </div>
                            <div class="form-group">
                                <input type="file" name="file" id="file">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Message</label>
                                <textarea name="message" class="form-control" id="message-text"></textarea>
                            </div>
                            <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Ingredients</label>
                                    <input name="ingredients" type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group" id="recipe-form">
                                <label for="recipe-text" class="col-form-label">Recipe Steps</label>
                                <div id="instructions">
                                    <input type="text" id='single-instruction' name="instructions[]">
                                </div>
                                <button class='btn btn-success add-recipe-button' type='button'><b>+</b></button>
                                <button class='btn btn-danger delete-recipe-button' type='button'><b>-</b></button>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Tags</label>
                                <input name="tags" type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="recipe-post-button btn btn-primary">Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>