html, body {
}

.home-container {
    position: absolute;
    width: 100%;
}


.add-recipe-button {
    height:40px; 
    width:80px; 
    margin: 0px -50px; 
    position:relative;
    left:45%;
}

.delete-recipe-button {
    height:40px; 
    width:80px;
    position: relative;
    left: 55%;
}


.checked {
    color: orange;
}

.column {
    flex: 33.33%;
}

.row {
    border-style: hidden;
    display: flex;
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(0%, -100%);
    -ms-transform: translate(-50%, -50%);
    text-align: relative;
}

.text:hover {
    opacity: 0.9;
}


.column:hover .middle {
    opacity: 1;
}

.titles {
    color: black;
}

.titles:hover {
    text-decoration: none;

}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.previous {
background-color: #f1f1f1;
color: black;
}

.next {
background-color: #4CAF50;
color: white;
}

.round {
border-radius: 50%;
}

/*Image Grid formatting*/
/* .grid { 
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 1200px;
}

.grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    width: 276px; 
    height: 276px;
    object-fit: cover;  
    margin: 1px;
} */

.foodcontent{
    height: 276px;
    width: 276px;    
}

.foodcontent:hover .image{
    opacity: 0.3;
  }

  .foodcontent:hover .middle {
    opacity: 0.9;
  }

  .grid { 
    text-align: center;
    display: grid;
    grid-template-columns: 276px 276px 276px 276px;
    grid-auto-rows: 276px;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    background: #f5f5f5;
    grid-gap: 3px;
}

.grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    width: 276px; 
    height: 276px;
    object-fit: cover;

    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;

}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: -50%;
    /* left: 50%; */
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;    
    background-color: #65CCB8;
    color: white;
    font-size: 14px;
    /* padding: 16px 32px; */
  }


/*Carousel things*/
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    margin:auto;
}