html, body {
    max-width: 100%;
}

.home-container {
    position: absolute;
    width: 100%;
}

.search-recipe {
    position: absolute;
    left: 40%;
    margin-bottom: 600px;
}

.add-recipe-button {
    height:40px; 
    width:80px; 
    margin: 0px -50px; 
    position:relative;
    left:45%;
}

.delete-recipe-button {
    height:40px; 
    width:80px;
    position: relative;
    left: 55%;
}


.checked {
    color: orange;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 5%;
    padding: 0 4px;
  }
    
  .middle {
    transition: .5s ease;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
    margin-right: 500px
}

.column:hover .image {
    opacity: 0.3;
}

.column:hover .middle {
    opacity: 1;
}

.titles {
    color: black;
}

.titles:hover {
    text-decoration: none;

}

.text {
    color: rgb(148, 218, 163);
    font-size: 16px;
    padding: 16px 32px;
}


a {
text-decoration: none;
display: inline-block;
padding: 8px 16px;
}

a:hover {
background-color:#d2e7d6;
color: black;
}


/*Image Grid formatting*/
.grid { 
    text-align: center;
    display: block;
    background: #d2e7d6;
    }

  .grid img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    width: 400px; 
    height: 400px;
    object-fit: cover;  }

/*Carousel things*/
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    margin:auto;
    }