.main {
    background: #fff;
    position: relative;
    z-index: 3;
    height: 1000px;
    margin: 100px 50px 100px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.img-fluid {
    max-width: 160px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    transform: translate3d(0,-50%,0);
    border-radius: 50%!important;
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}

.profile {
    text-align: center;
    height: 200px;
}

.profile-section {
    text-align: center;
    margin: 0 auto;
}

.profile-name {
    margin-top: -50px;
}

.profile-recipe {
    overflow-y: auto;
    height: 500px;
}

.profile-saved {
    overflow-y: auto;
    height: 500px;
}

.profile-recipe-image {
    width: 240px;
    height: 240px;
    float: left;
    border-radius: 15px;
    margin: 0px 20px 20px 0px;
}

.profile-recipe-image:hover {
    cursor: pointer;
}

.profile-tabs {
    margin: 30px 0px 50px 0px;
}

.justify-content-center {
    justify-content: center!important;
}

.single {
    text-align: center;
    height: 100px;
    width: 100px;
    padding: 2px;
    border-radius: 10px;
}

.profile-single-icon {
    margin-bottom: 20px;
}

.single:hover:not(.active) {
    background-color: rgb(238, 238, 238);
    transition: 0.5s;
    cursor: pointer;
}

.profile-single-text {
    font-size: 13px;
    font-weight: bold;
}

.active {
    background-color: #65CCB8
}


.recipe-steps {
    height: 300px;
    padding: 10px;
    overflow-y: scroll;
    list-style-type: none;
}