/* RECIPE PAGE */
body {
}

.recipe-image {
    content:url(https://vegvoyages.com/wp-content/uploads/2018/06/fullsizeoutput_784.jpeg);
    height: 50%;
}

.card-container {
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%; 
    margin: 10px;
    float: left;
    height: 425px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.recipe-button {
    position:absolute;
    left:70%;
    top:90%;
    right:    0;
    bottom:   0;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.container {
    padding: 2px 16px;
}
  
img {
    border-radius: 5px 5px 0 0;
    height: 350px;
}

.single-recipe {
    width: 1200px;
    padding: 20px;
    margin: 0 auto;
    min-height: 500px;
    max-height: 600px;
}

.single-recipe-left {
    position: relative;
    display: table-cell;
    text-align: left;
}

.single-recipe-right {
    vertical-align: top;
    width: 100%;
    position: relative;
    display: table-cell;
    text-align: left;
    background-color: white;
    max-height: 500px;
    padding: 20px 20px 5px 20px;
}

.single-recipe-right-entry {
    height: 100%;
    width: 50%;
    float: left;
    max-height: 350px;
    overflow-y: scroll;
}

.post-image {
    min-height: 500px;
    min-width: 550px;
    max-width: 550px;
    max-height: 600px;
}

.post-image:hover {
    cursor: pointer;
    /* filter: brightness(50%); */
}

.recipe-list {
    overflow-y: auto;
}

.recipe-hover {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 100;
    background: rgba(0, 0, 0, 0.85);
    display: -webkit-flex;
}

.recipe-hidden {
    display: none !important;
}
