#register-left {
    float: left;
    width: 50%;
    height: 100%;
    background-color: #65CCB8;
    z-index: -1;
    padding: 20px;
}

#register-right {
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #f8f9fa!important;;
    z-index: -1;
    float: left;
    padding: 20px;
}