/* GENERAL CSS */
html, body {
    max-width: 100%;
    background-color: #d2e7d6;
}

footer {
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #dfdfdf!important;
    transform: translateY(100%);
}

footer a {
    color: white;
    right: 50%;
}




/* POST TEMPLATE */
.post {
    margin: 0 auto;
    width: 500px;
    height: 600px;
    /* border: 1px solid black; */
    border-radius: 5%;
    margin-bottom: 20px;
}

.post-pic {
    position: relative;
    width: 100%;
    height: 300px;
}

.post-body {
    text-align: center;
}











/* Style inputs */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Style the submit button */
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Add a background color to the submit button on mouse-over */
  input[type=submit]:hover {
    background-color: #45a049;
  }